@page "/"

<PageTitle>Home</PageTitle>

<h2>Titolo messo in Task/4</h2>

<p>Paragrafo Task/4</p>

<div>Div creato da Filippo</div>

<p>Paragrafo creato da Filippo</p>

<div>Nuovo div di Filippo</div>
<p>Paragrafo Task/5</p>
<p>paragrafo creato da leonardo</p>

<p>Paragrafo Task/50
	<br />
	Paragrafo creato da Paolo
</p>

@b

@code{
	int a=3;
	string b ="";
}